* {
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica, sans-serif;
}

h2{
  text-align: center;
}

h2 {
  text-transform: uppercase;
  font-size: 32px;
}

a {
  text-decoration: none;
}

/* Navbar Styling */
#navbar {
  text-align: center;
  padding: 6px 0;
}

#navbar ul {
  display: inline-block;
}

#navbar li {
  padding: 16px 20px;
  display: inline-block;
}

#navbar a {
  color: #678;
  text-transform: uppercase;
  font-size: 15px;
}

/* End Navbar Styling */

/* Home Styling */

#home {
  background-image: url("./images/background_image.jpg");
  background-size: cover;

  width: 100%;
  height: 700px;

  color: white;

  position: relative;
}

#home h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}

#home p {
  font-size: 20px;
  margin: 0px;
}

#header {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateY(-50%);
  transform: translateX(-50%);

  width: 220px;
}

/* End Home Styling */

/* Portfolio and Personal-Interests Styling */
#portfolio,
#personal-interests {
  width: 100%;

  padding: 80px 0;
}

#personal-interests {
  background-color: #eeeeee;
}

#portfolio h2,
#personal-interests h2 {
  margin: 20px 0;
}

#portfolio .subheader,
#personal-interests .subheader {
  margin: 10px 0;
  
  font-size: 20px;

  text-align: center;
}

#portfolio .card,
#personal-interests .card {
  width: 100%;
  max-width: 880px;

  margin: 50px auto 0 auto;

  position: relative;
}

#portfolio img,
#personal-interests img {
  width: 400px;
  height: 250px;
  display: inline-block;
}

#portfolio .info,
#personal-interests .info {
  display: inline-block;

  width: calc(100% - 500px);

  position: absolute;
  top: 0;

  margin-left: 32px;
}

#portfolio h4,
#personal-interests h4 {
  font-size: 22px;
  font-weight: 500;

  color: #37c;
  margin: 6px 0 2px 0;
}

#portfolio h5,
#personal-interests h5 {
  font-size: 14px;
  font-weight: 500;

  color: #5e9516;

  margin: 6px 0;
}

#portfolio p,
#personal-interests p {
  font-size: 14px;
}



/* Portfolio and Personal-Interests End Styling */

/* Contact Styling */

#contact {
  width: 100%;

  padding: 80px 0;
}

#contact h2 {
  margin: 26px 0;
}

#contact div{
  text-align: center;
}

#contact a {
  padding: 6px;
}